@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    height: 100px;
}

.title {
    background: radial-gradient(circle, #F48FB1 0%,  #CE93D8 20%, #B2EBF2 40%, #A5D6A7 60%, #B39DDB 100%);
    font-size: 70px;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300%;
    animation: gradient 10s linear infinite alternate;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.container {
    max-width: 1140px;
    padding: 40px 15px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;

}
.generate {
    background: #698dac;
    height: 100vh;
    color: #a3f325;
}
.generate-1 {
    max-width: 100%;
    height: 550px;
}


.box {
    max-width: 250px;
    height: 250px;
    background: #7131d7;

}
.sub-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.out {
    width: 116%;
    height: 148px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #d9d5d5;
    margin-top: 30px;
    border: 2px solid #a3f325;
    color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.font-size {
    font-size: 18px;
}

.skills__name {
    font-size: 20px;
    line-height: 37px;
}
.generate-color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.sub-box {
    margin-bottom: 30px;

}
.value-color {
    color: #7e3ff3;
    opacity: 0.6;
}
.color-border{
  border: 1px solid #a3f325;
    background-color: inherit;
    width: 60px;
    height: 30px;
}
.border {
    border: 1px solid #a3f325;
    background-color: inherit;
    width: 60px;
    height: 30px;
}

/*1 - Bootstrap*/
/*2 - */









